@page "/"

<PageTitle>Home</PageTitle>
<div class="center-horizontal">
    <h1>Welcome!</h1>
    <p>Please try our selection of games</p>

    <div class="two-columns">
        <div class="col">
            <h3>Single Player</h3>
            <a href="/dodgegame" class="btn btn-primary">Dodge Game</a>
            <a href="/placeholder" class="btn btn-primary">Game 2</a>
        </div>
        <div class="col">
            <h3>Two Player</h3>
            <a href="/tic-tac-toe" class="btn btn-primary">TicTacToe</a>
            <a href="/hangman" class="btn btn-primary">Hangman</a>
        </div>
    </div>

</div>

