@page "/"

<PageTitle>Home</PageTitle>
<div class="center-horizontal">
	<h1>Welcome!</h1>
	<p>Please try our selection of games</p>

	<div class="two-columns">
		<div class="col">
			<h3>Single Player</h3>
			<NavLink class="btn btn-primary mb-2" href="/DodgeGame">
            Dodge Game
            </NavLink>
            <NavLink class="btn btn-primary mb-2" href="/Placeholder">
            Placeholder
            </NavLink>
		</div>
		<div class="col">
			<h3>Two Player</h3>
			<NavLink class="btn btn-primary mb-2" href="/tic-tac-toe">
            Tic Tac Toe
            </NavLink>
            <NavLink class="btn btn-primary mb-2" href="/Hangman">
            Hangman
            </NavLink>
		</div>
	</div>

</div>
